option_settings:
  aws:elasticbeanstalk:environment:proxy:nginx:
    ProxyServer: nginx
    ProxyServerPort: 5000
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app  # Modify this according to your application's entry point
  aws:elasticbeanstalk:application:environment:
    PORT: 5000
